*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.products{
  width: 50%;
  margin: auto;
  text-align: center;
}

.product{
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.product > .discount{
  width: 40px;
  height: 40px;
  line-height: 40px;
  position:absolute;
  top: 10px;
  right: 0;
  border-radius: 50%;
}

.green{
  background: green;
}

.red{
  background: red;
}

.hearts{
  width: 100%;
  color: red;
  font-size: 40px;
  display: none;
  position: absolute;
  bottom: 0;
}

.product:hover .hearts{
  display: block;
}
